#main {
  /* margin-top: 4rem; */
  margin-bottom: 4rem;
}

.alert {
  position: relative;
  border: 1px solid transparent;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  border-radius: 5px;
  margin-top: 10px;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
  text-align: center;
}

#puzzle1 {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

#puzzle2 {
  /* max-width: 90%; */
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#puzzle3 {
  max-width: 90%;
  height: 10rem;
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#puzzle6 {
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#puzzle5 {
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-text {
  margin-top: 10px;
  text-align: center;
  font-size: small;
}

a:visited {
  color: dimgray;
}

#puzzle4 {
  margin-top: 1rem;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
  text-align: center;
}

th[scope="row"] {
  background-color: #d7d9f2;
  text-align: center;
}

caption {
  padding-top: 0 !important;
  caption-side: top;
  text-align: center !important;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}
