{% extends "base.html" %} {% block content %}
<h1 class="fs-2 fw-bolder" style="margin-top: 1rem">
  User: {{ user.username }}
</h1>
<hr />

<div class="row">
  <div class="col-sm-6 center-table">
    <table>
        <caption>Last 7 times results</caption>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Seconds</th>
        <th scope="col">Moves</th>
      </tr>

      {% for n in rank %}
      <tr>
        <th scope="row">{{n.timestamp.strftime('%Y-%m-%d')}}</th>
        <td>{{n.seconds}}</td>
        <td>{{n.moves}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-6 center-table">
    <table>
        <caption>Daily Top 10</caption>
        <tr>
          <th scope="col">Rank</th>  
          <th scope="col">Username</th>
          <th scope="col">Time</th>
          <th scope="col">Seconds</th>
          <th scope="col">Moves</th>
        </tr>
  
        {% for n in compare_results %}
        <tr>

          <th scope="row">{{loop.index}}</th>
          <td>{{n.username}}</td>
          <td>{{n.timestamp.strftime('%Y-%m-%d')}}</td>
          <td>{{n.seconds}}</td>
          <td>{{n.moves}}</td>
        </tr>
        {% endfor %}
      </table>

  </div>
</div>

{% endblock %}
